<!Doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0"/>
<html ng-app = "myapp">
   
   <head>
   <title>Blogs at TechAspect </title>
     
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   </head>
   
   <body>
    
       
<div class="container">
    <div class="row row-content">
    <div class="col-xs-12">
	  <header>
		<h2>Blogs @<img src = "\images\ta.jpg" height="80px"></h2> 
      </header>
  

<!-- Nav bar tabs -->		
	  <ul class="nav nav-tabs">
		<li class= "active" ><a data-toggle="tab" href="#home">Home</a></li>
		<li><a data-toggle="tab" href="#myblog"> My blog </a><li>
		</ul>
        
    <div class="tab-content" ng-controller="BlogController">
<!-- Content for tab 1- Home -->
	  <div id="home" class="tab-pane fade in active" >
	       <div class="col-xs-12">
          <div class="span6 pull-right form-group" style="text-align:right">
              <!-- Used angualr filters to sort by name -->
              Sort by(A-Z/Z-A): <a ng-click="ascSort()"><span class="glyphicon glyphicon-arrow-up" ></span> </a>
              <a ng-click="descSort()"><span class="glyphicon glyphicon-arrow-down" ></span> </a>
              <a ng-click="remSort()"><span class="glyphicon glyphicon-remove" ></span> </a>
          </div>       
<!-- Used Angular ng-repeat directive to loop through the blog list -->
            <div  ng-repeat="blogl in blogList.blogs | orderBy: sortValue : reverse">
                <div class="media-left media-middle">
                    <a href="#">
                    <img class="media-object img-thumbnail"
                         ng-src={{blogl.image}} alt="blog">
                     </a>
                </div>
				<div class="media-body">
                     <h4 class="media-heading">{{blogl.title}} </h4>
				     <span class="badge">{{blogl.name}}</span>
                      <p>{{blogl.Description}}</p>
                      <br>
                </div>
            </div>
          </div>
     </div>
    
<!-- Content for tab 2- MyBlog -->        
	  <div id="myblog" class="tab-pane fade col-xs-12">

	  <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail"
                         src= '\images\1470.jpg' alt="blog">
                        </a>
                    </div>
					 <div class="media-body">
                        <h4 class="media-heading">My first Blog: Learning New Technologies </h4>
						<span class="badge">Alankrutha Ambarkar</span>
						</div>
	  <p>	  

As always said , we should always keep learning new things.
In today's world a new technology emerges almost everyday. 
We may not be able to learn or infact even know everything. But thanks to the open source stuff and a lot of news articles available we can get free access to many of these technologies.
Then amongst the vast list of choice available you should go ahead and choose some topic that will help in your work, something that might make your life easier.
Once you choose the topic , you now have the million dollar question : " Where do I start?" </p>
<p> According to me the below steps should help you make than jumpstart.
<ol type="1"> 
<li> First read a little on the bascics of the what the technology is all about , where is it used. If it is a new framework what part of your work does it simplify. </li>
<li> Now choose one website where you find some good tutorials. Nowadays you find innumerable websites that provide proper tutorias:
The following list that contains some of my favorites might help you :
<ol type="a">
<li> Coursera </li>
<li> Code Academy </li>
<li> Khan Academy</li>
<li> Lynda.com</li>
</ol>
 </li>
<li> You can always look at the official websites of the technology for further reading. </li>
<li> Finally, once you feel that you have got good knowledge about the basics, my suggestion would be to start a small porject on your own. The best way to get a grip on something is to do it on your own. 
Think of a project,(it can be a basic one too!) and start working on it. You will now start exploring online for those small doubts thereby increasing your knowledge in that area.
</li>
<p>Post all this you can suggest your boss to use this technology in your future projects. And now that you are aware how it useful it is , you can explain your boss its advantages and make your work life a little peaceful.
Hope the above few tips will help you in your next learning project.
</p>
<h5>Happy Learning ! </h5>

	<h3> Comments: </h3>
	<div ng-repeat= "comment in blogList.comments">
			<span class="badge">{{comment.name}} </span>
			<p> {{comment.description}} </p>
	</div>
	
	  <form role="form">
	  <div class="form-group">
	  <p> Please provide your comments here: </p> 
	  </div>
	  <div class="form-group">
	  <input type="text" placeholder="Your name" ng-model="Name">
	  <br>
	  <textarea class="form-control" ng-model = "mycomment" col="25" row="5"> </textarea>
	  </div>
	  <div class="form-group">
	  <input type= "submit" class="btn-success" Value="Submit" ng-click="submitBtn()"> 
	  </div>
 </div>


</div>
</div>
<footer> 
 <div class="row row-content">
              <div class="col-xs-12">
@Copyright 2016 ALankrutha Ambarkar </footer>
</div>
</div>
</div>

	   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

      <script src="/scripts/blogCtrl.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

      
   </body>
</html>